<div class="flex justify-center items-center uppercase border border-surface rounded-xl p-1 pr-2 pl-2 bg-surface">
  <div class="relative w-4 h-4">
    <svg class="absolute animate-pulse opacity-75 pr-2 w-4 h-4 glow-pulse" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" transform="matrix(1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle class="glow-box" cx="8" cy="8" r="8" fill="#E2D9F3"></circle> </g></svg>
    <svg class="absolute animate-pulse opacity-75 pr-2 w-4 h-4 glow-pulse" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" transform="matrix(1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle class="glow-box" cx="8" cy="8" r="8" fill="#E2D9F3"></circle> </g></svg>
  </div>
  <span class="{{themeClass()}} ">{{label()}}</span>
</div>
