node_modules/

dist/
tmp/
out-tsc/
bazel-out/

.angular/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

/reports/
/coverage/
/e2e/**/*.js
/e2e/**/*.map

.DS_Store
Thumbs.db

.env
src/environments/environment.prod.ts
