@import 'tailwindcss';

@theme {
  --color-background: #0F0F14;
  --color-surface: #1E1B2E;
  --color-primary: #8b5cf6;
  --color-accent: #A855F7;
  --color-text: #E2D9F3;
  --color-muted: #94A3B8;
  --color-border: #2D2D4E;

  --font-sans: 'Geist', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}
