@import 'tailwindcss';

@theme {
  --color-background: #0A0A0A;
  --color-surface: #1A1A1A;

  --color-primary: #FFFFFF;
  --color-accent: #707070;

  --color-text: #FFFFFF;
  --color-muted: #707070;

  --color-border: #262626;

  --font-sans: 'Hanken Grotesk', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}
